<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>RestaruntWebste</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>BookTableServlet</display-name>
    <servlet-name>BookTableServlet</servlet-name>
    <servlet-class>BookTableServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookTableServlet</servlet-name>
    <url-pattern>/BookTableServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowTableServlet</display-name>
    <servlet-name>ShowTableServlet</servlet-name>
    <servlet-class>ShowTableServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowTableServlet</servlet-name>
    <url-pattern>/ShowTableServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserProfileServlet</display-name>
    <servlet-name>UserProfileServlet</servlet-name>
    <servlet-class>UserProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserProfileServlet</servlet-name>
    <url-pattern>/UserProfileServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteTableServlet</display-name>
    <servlet-name>DeleteTableServlet</servlet-name>
    <servlet-class>DeleteTableServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteTableServlet</servlet-name>
    <url-pattern>/DeleteTableServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateTableServlet</display-name>
    <servlet-name>UpdateTableServlet</servlet-name>
    <servlet-class>UpdateTableServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateTableServlet</servlet-name>
    <url-pattern>/UpdateTableServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateProfileServlet</display-name>
    <servlet-name>UpdateProfileServlet</servlet-name>
    <servlet-class>UpdateProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateProfileServlet</servlet-name>
    <url-pattern>/UpdateProfileServlet</url-pattern>
  </servlet-mapping>
</web-app>